@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css";

.vh-75 {
  height: 75vh;
}

.text-sm {
  margin-left: auto;
  font-size: 0.6rem;
}

.w-2 {
  font-size: 5rem;
}

.card-img-top {
  width: 300px;
  /* height: 300px; */
}
